<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @from_name %> </h1>
    <p>
      Recibimos tu aplicación a <%= @position %>
      Evaluaremos tu solicitud de inmediato y te contactaremos en caso de requerir más información sobre ti <%= @from_name %>
      Suerte!
      
    </p>
  </body>
</html>