.submit-component-form-section {
  margin-top: 30px;
  text-align: center;
}

#new_component_section label,
#edit_component_section label,
#component_info_section .info-title {
  text-align: right;
}
