.submit-component_category-form-section {
  margin-top: 30px;
  text-align: center;
}

#new_component_category_section label,
#edit_component_category_section label,
#component_category_info_section .info-title {
  text-align: right;
}
